@model IEnumerable<Premises>

@{
    ViewBag.Title = "Premises";
}

<h2>Premises</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Member Count</th>
        <th>Utilities</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var premises in Model)
    {
        <tr>
            <td>@premises.Id</td>
            <td>@premises.Name</td>
            <td>@premises.Address</td>
            <td>@premises.Members.Count</td>
            <td><a asp-controller="Utilities" asp-action="Index" asp-route-id="@premises.Id">View</a></td>
        </tr>
    }
    </tbody>
</table>

<hr/>

<div>
    <a asp-action="Create">Create</a>
</div>